<footer class="footer has-background-white-ter pb-6">
  <div class="content has-text-centered">
    Made with <a class="link" href="https://angular.io/">Angular</a>,
    <a class="link" href="https://bulma.io/">Bulma</a>, and
    <a class="link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">❤️</a>.
    <p>
      My website uses the
      <a href="https://unlicense.org/" class="link">Unlicense</a> and is free
      for any use therein.
    </p>
    <p class="is-size-6">
      <a
        class="has-text-dark"
        href="https://github.com/peterrauscher/peterrauscher.com"
        ><i class="fab fa-github"></i>
        Source Code
      </a>
    </p>
  </div>
</footer>
