<nav
  class="navbar is-size-5 is-bold"
  role="navigation"
  aria-label="Navigation menu"
>
  <div class="navbar-brand">
    <a href="/">
      <figure class="image is-64x64 is-hidden-touch">
        <img src="/assets/img/headshot.png" alt="Headshot" />
      </figure>
    </a>
    <a href="/">
      <figure class="image is-48x48 is-hidden-desktop">
        <img src="/assets/img/headshot.png" alt="Headshot" />
      </figure>
    </a>
    <div class="is-hidden-desktop is-inline-block ml-5">
      <a
        class="navbar-item is-inline-block"
        href="https://github.com/peterrauscher"
      >
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
      </a>
      <a
        class="navbar-item is-inline-block"
        href="https://linkedin.com/in/peter-rauscher"
      >
        <span class="icon">
          <i class="fab fa-linkedin"></i>
        </span>
      </a>
      <a
        class="navbar-item is-inline-block"
        href="mailto:peter@peterrauscher.com"
      >
        <span class="icon">
          <i class="fas fa-envelope"></i>
        </span>
      </a>
    </div>
    <span class="navbar-burger" data-target="navbarMenuHeroB">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <div id="navbarMenuHeroB" class="navbar-menu mx-5">
    <div class="navbar-start">
      <a
        routerLink="/resume"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="navbar-item"
        >Resume</a
      >
      <a href="https://dev.to/peterrauscher" class="navbar-item">Blog</a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="https://github.com/peterrauscher">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
      </a>
      <a class="navbar-item" href="https://linkedin.com/in/peter-rauscher">
        <span class="icon">
          <i class="fab fa-linkedin"></i>
        </span>
      </a>
      <a class="navbar-item" href="mailto:peter@peterrauscher.com">
        <span class="icon">
          <i class="fas fa-envelope"></i>
        </span>
      </a>
    </div>
  </div>
</nav>
