<div class="main section container pt-0">
  <div class="columns">
    <div class="column is-three-fifths">
      <div class="education">
        <div class="title is-size-4 has-text-info is-bold">Education</div>
        <div class="education">
          <div class="item">
            <div class="is-size-5">
              <b>Stevens Institute of Technology</b>
              <span> | Hoboken, NJ — <em>B.S. in Computer Science</em> </span>
            </div>
            <div class="is-size-7 tag is-info is-light">
              Aug 2019 - May 2023
            </div>
            <ul class="resume-list">
              <li>
                Awards: Edwin A. Stevens Scholarship, Dean's List 2019 and
                Spring 2022
              </li>
              <li>
                Releveant Courses: Data Structures & Algorithms, Database
                Management, Concurrent Programming, Web Development, Agile
                Methods
              </li>

              <li>
                Clubs: Software Engineering Club, Stevens Cyber Defense Team
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="experience">
        <div class="title is-size-4 has-text-info is-bold">Work Experience</div>

        <div class="item">
          <div class="is-size-5">
            <b>Almo Corporation</b>
            <span class="">
              | Philadelphia, PA — <i>Software Engineering Intern</i>
            </span>
          </div>
          <div class="is-size-7 tag is-info is-light">Jun 2018 - Aug 2019</div>

          <ul class="resume-list">
            <li>
              Streamlined partner sales by building automation software using
              Microsoft's .NET Framework to process purchase orders,
              effortlessly updating shipping progress, and leading to reduced
              errors and significant cost savings.
            </li>

            <li>
              Bolstered IT ticket response rates using SQL queries which
              generated monthly vendor reports and provided insight into the IT
              team's ticket-response rates, enabling data-driven decision-making
              and enhancing operational performance.
            </li>

            <li>
              Designed and deployed several web pages for our self-service web
              portal using ASP.NET, jQuery, and Bootstrap, enhancing employee
              productivity and reducing repetitive workloads for our Human
              Resource representatives.
            </li>
          </ul>
        </div>
      </div>

      <div class="projects">
        <div class="title is-size-4 has-text-info is-bold">Projects</div>

        <div class="item">
          <div class="is-size-5">
            <a
              class="project-link"
              href="https://github.com/EbookFoundation/oapen-suggestion-service"
              >OAPEN Suggestion Service</a
            >
            |
            <i>Python, SQL, Express, Docker, DigitalOcean</i>
          </div>

          <ul class="resume-list">
            <li>
              Developed a recommendation engine with a team of fellow seniors
              for the OAPEN Foundation to suggest similar books, articles, and
              journals based on the semantic content of each publication.
            </li>

            <li>
              Utilized natural language processing techniques with NLTK, pandas,
              and NumPy to filter irrelevant content from a library of
              <strong>30,000+</strong>
              publications and generate statistical distributions of only
              meaningful word occurrences.
            </li>

            <li>
              Built an Express API which used SQL queries to serve pre-processed
              data from our Postgres database to provide results in fractions of
              a second.
            </li>

            <li>
              Automated the deployment of each service component to DigitalOcean
              droplets through Docker Compose and CI/CD.
            </li>
          </ul>
        </div>

        <div class="item">
          <div class="is-size-5">
            <b>SneakSnitch</b>
            |
            <i>Python, Flask, DynamoDB, AWS</i>
          </div>

          <ul class="resume-list">
            <li>
              Generated a revenue stream of
              <strong>$200/mo</strong> by pioneering a first-of-its-kind RESTful
              API enabling programmatic access to information about popular
              sneakers, aftermarket prices, and upcoming release dates for
              brands like Nike and Adidas.
            </li>
            <li>
              Scheduled web scraping tasks with Aamazon CloudWatch and AWS
              Lambda functions to ingest new release data and product catalogs
              from vendor websites to the DynamoDB database.
            </li>
            <li>
              Deployed, secured, and optimized the necessary network
              infrastructure on AWS to ensure elasticity and JIT-scaling.
            </li>
          </ul>
        </div>

        <div class="item">
          <div class="is-size-5">
            <a
              class="project-link"
              href="https://github.com/peterrauscher/py-gutenberg"
              >Py-Gutenberg</a
            >
            |
            <i>Python, Github Actions</i>
          </div>

          <ul class="resume-list">
            <li>
              Created a widely-used open-source Python module that grants
              programmatic access to the Project Gutenberg library, garnering
              over <strong>2,000 installs</strong> in only two months, with
              daily continuous growth.
            </li>

            <li>
              Streamlined unit testing and refactoring by leveraging continuous
              integration workflows with Pytest and Black.
            </li>

            <li>
              Automated the continuous delivery of versioned releases to the
              PyPi software repository through the use of Github Actions,
              mitigating the need for manual input and saving hours of time.
            </li>
          </ul>
        </div>

        <div class="item">
          <div class="is-size-5">
            <a
              class="project-link"
              href="https://github.com/peterrauscher/py-gutenberg"
              >Incognito Music</a
            >
            |
            <i>React, MongoDB, Redis, Firebase</i>
          </div>

          <ul class="resume-list">
            <li>
              Led a team of master's students in designing an alternative music
              and podcast single-page application using React and MUI, allowing
              users to curate playlists, browse new releases, and search for
              artists and tracks without listening interruptions.
            </li>

            <li>
              Used MongoDB and Redis to cache site data, increasing page speed
              by <strong>250%</strong> and minimizing Spotify API calls.
            </li>

            <li>
              Utilized Firebase to manage user accounts and store metadata such
              as Spotify API access tokens securely with JWT.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="skills">
        <div class="title is-size-4 has-text-info is-bold">Skills</div>
        <div class="wrapper">
          <div class="item">
            <span class="is-bold">Languages: </span>C#, JavaScript, Python, C++,
            Java, SQL
          </div>

          <div class="item">
            <span class="is-bold">Frameworks: </span>Microsoft .NET, Node.js,
            React, Angular, Bootstrap, NLTK, pandas, NumPy, Flask, Django
          </div>

          <div class="item">
            <span class="is-bold">Technologies: </span>AWS, Git, Docker, REST
            APIs, Firebase, DigitalOcean, MongoDB, Redis, Linux, Windows
          </div>
        </div>
      </div>
      <div class="certifications">
        <div class="title is-size-4 has-text-info is-bold">Certifications</div>
        <div class="wrapper">
          <div class="item">
            <p>AWS Certified Cloud Practitioner</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <section class="content has-text-centered">
    <p class="subtitle is-3">
      👀 <em class="is-bold">Pssst...</em> just want the PDF? It's all good.
    </p>
    <a
      class="button is-info"
      href="https://peterrauscher.github.io/peterrauscher/resume.pdf"
      >Download</a
    >
  </section>
</div>
