<div class="main section container pt-0">
  <section class="content is-large">
    <p class="title is-2">Hey 👋 I'm Peter.</p>
    <p>
      I'm a <strong>full-stack software engineer</strong> who loves building new
      stuff, especially in the cloud. In my free time, I like to stay active in
      the gym, stay up-to-date on infosec news, and contribute to open source
      projects. As a firm believer in digital freedom, almost all of the code I
      write (except where restricted by licensing) is available for use however
      you'd like. Take a look at my
      <a href="https://github.com/peterrauscher" class="link is-underlined"
        >Github</a
      >
      for some of the work I've done!
    </p>
    <p>
      I recently graduated from Stevens Institute of Technology with my B.S. in
      Computer Science and am seeking a full-time software engineering role. You
      can checkout my
      <a class="link is-underlined" href="/resume">resume</a>, connect with me
      on
      <a
        class="link is-underlined"
        href="https://linkedin.com/in/peter-rauscher"
        >Linkedin</a
      >, or send me an
      <a class="link is-underlined" href="mailto:peter@peterrauscher.com"
        >email</a
      >
      if you're interested in working together.
    </p>
  </section>
  <hr />
  <section class="content is-large">
    <p>
      I write (sometimes) about random stuff that interests me, my personal
      projects, and my approach to remaining productive. If for whatever reason
      that actually interests you, check out my
      <a class="link is-underlined" href="/blog">blog</a>.
    </p>

    <p class="title is-4">Recent Posts</p>

    <div class="row columns is-multiline is-equal-height">
      <div *ngFor="let post of posts" class="column is-4">
        <a [href]="'/blog/' + post.permalink">
          <div class="card large">
            <div class="card-image" [style]="post.thumbnail"></div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">{{ post.title }}</p>
                  <p class="subtitle is-6 has-text-grey">{{ post.date }}</p>
                </div>
              </div>
              <div
                class="content is-medium has-text-grey"
                [innerHTML]="post.content.substring(0, 120) + '...'"
              ></div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- <p>
      <a class="button is-info is-inline-block mr-3" href="/subscribe"
        ><i class="fas fa-envelope"></i> Email</a
      >
      <a class="button is-primary is-outlined is-inline-block" href="/rss"
        ><i class="fas fa-rss"></i> RSS</a
      >
    </p> -->
  </section>
</div>
