<div class="main section container pt-0">
  <section class="content is-medium">
    <p class="title is-1">Hey 👋 I'm Peter.</p>
    <p>
      I'm a <strong>full-stack software engineer</strong> who loves building new
      stuff, especially in the cloud. In my free time, I like to stay active in
      the gym, stay up-to-date on infosec news, and contribute to open source
      projects. As a firm believer in digital freedom, almost all of the code I
      write (except where restricted by licensing) is available for use however
      you'd like. Take a look at my
      <a href="https://github.com/peterrauscher" class="link is-underlined"
        >Github</a
      >
      for some of the work I've done!
    </p>
    <p>
      I recently graduated from Stevens Institute of Technology with my B.S. in
      Computer Science and am seeking a full-time software engineering role. You
      can checkout my
      <a class="link is-underlined" href="/resume">resume</a>, connect with me
      on
      <a
        class="link is-underlined"
        href="https://linkedin.com/in/peter-rauscher"
        >Linkedin</a
      >, or send me an
      <a class="link is-underlined" href="mailto:peter@peterrauscher.com"
        >email</a
      >
      if you're interested in working together.
    </p>
  </section>
  <hr />
  <section class="content is-medium">
    <p>
      I <em>sometimes </em>
      <a class="link is-underlined" href="/blog">blog</a> about stuff that
      interests me.
    </p>
    <p>
      It's mostly tech-oriented, but expect some opinion pieces here and there.
    </p>

    <!-- <p>
      <a class="button is-info is-inline-block mr-3" href="/subscribe"
        ><i class="fas fa-envelope"></i> Email</a
      >
      <a class="button is-primary is-outlined is-inline-block" href="/rss"
        ><i class="fas fa-rss"></i> RSS</a
      >
    </p> -->
  </section>
</div>
